<a href="https://colab.research.google.com/github/aaditya2580/ODI-Cricket-Data-Analysis-Visualization/blob/main/ODI_Cricket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

url =
https://www.kaggle.com/datasets/utkarshtomar736/odi-mens-cricket-match-data-2002-2023

In [3]:
path="/content/drive/MyDrive/Colab Notebooks/ODI_Match_Data.csv"
match_data = pd.read_csv(path,low_memory=False, names=["batting_team", "bowling_team", "striker", "non_striker", "bowler", "runs_off_bat", "extras", "wides", "noballs", "byes", "legbyes", "penalty", "wicket_type", "player_dismissed", "other_wicket_type", "other_player_dismissed", "cricsheet_id"])

path="/content/drive/MyDrive/Colab Notebooks/ODI_Match_info.csv"

new_column_names = ["id", "season", "city", "date", "team1", "team2", "toss_winner", "toss_decision", "result", "dl_applied", "winner", "win_by_runs", "win_by_wickets", "player_of_match", "venue", "umpire1", "umpire2", "umpire3"]
match_info = pd.read_csv(path, names=new_column_names)

lets work with match info first
Data Manupulation

In [4]:
match_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2380 entries, 0 to 2379
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2380 non-null   object
 1   season           2380 non-null   object
 2   city             2070 non-null   object
 3   date             2380 non-null   object
 4   team1            2380 non-null   object
 5   team2            2380 non-null   object
 6   toss_winner      2380 non-null   object
 7   toss_decision    2380 non-null   object
 8   result           2380 non-null   object
 9   dl_applied       2380 non-null   object
 10  winner           2260 non-null   object
 11  win_by_runs      2380 non-null   object
 12  win_by_wickets   2380 non-null   object
 13  player_of_match  2229 non-null   object
 14  venue            2380 non-null   object
 15  umpire1          2380 non-null   object
 16  umpire2          2380 non-null   object
 17  umpire3          2098 non-null   object
dtypes: object(18)
memory usage: 334.8+ KB

In [5]:

missing_values = match_info.isnull()
missing_counts = missing_values.sum()
print(missing_counts)

id                   0
season               0
city               310
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner             120
win_by_runs          0
win_by_wickets       0
player_of_match    151
venue                0
umpire1              0
umpire2              0
umpire3            282
dtype: int64

Lets Focus on India vs Australia
---

In [9]:

match_info['date'] = pd.to_datetime(match_info['date'], format='%Y/%m/%d', errors='coerce')
match_info['year'] = match_info['date'].dt.year
filtered_data = match_info[(match_info['year'] <= 2021) & (match_info['year'] <= 2023)]
team_data = filtered_data[(filtered_data['team1'].isin(['India', 'Australia'])) & (filtered_data['team2'].isin(['India', 'Australia']))]
win_counts = team_data['winner'].value_counts().reset_index()
win_counts.columns = ['Team', 'Wins']
fig = px.pie(win_counts, names='Team', values='Wins', title='Wins in India vs. Australia Matches (2021-2022)')
fig.show()

In [10]:
import pandas as pd


india_vs_aus_matches = match_info[(match_info['team1'].isin(['India', 'Australia'])) & (match_info['team2'].isin(['India', 'Australia']))]
man_of_the_match_counts = india_vs_aus_matches['player_of_match'].value_counts().reset_index()
man_of_the_match_counts.columns = ['Player', 'Man of the Match Awards']
most_man_of_the_match_awards = man_of_the_match_counts.iloc[0]
print("Player with the Most 'Man of the Match' Awards in India vs. Australia Matches:")
print(most_man_of_the_match_awards)

Player with the Most 'Man of the Match' Awards in India vs. Australia Matches:
Player                     V Kohli
Man of the Match Awards          5
Name: 0, dtype: object

In [13]:
india_vs_aus_matches = match_info[
    (match_info['team1'].isin(['India', 'Australia'])) &
    (match_info['team2'].isin(['India', 'Australia']))
]


india_vs_aus_matches.dropna(subset=['venue', 'toss_decision', 'winner', 'result'], inplace=True)
pivot_table = india_vs_aus_matches.pivot_table(
    index=['venue', 'toss_decision'],
    columns='winner',
    values='result',
    aggfunc='count',
    fill_value=0
)
pivot_table_style = pivot_table.style.highlight_max(axis=0, color='lightgreen')
pivot_table_style

<ipython-input-13-4898b668c4f1>:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Batting Performance